#viewport {
    padding-left: 250px;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.dashboard{
    text-align: center;
    font-family: Arial, sans-serif;
    position: relative;
    margin: 2vh;
    margin-left: 25vh;
}

.metrics{
    display: flex;
    justify-content: center;
}
